In [47]:
#import libraries
import pandas as pd
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
from sklearn import preprocessing
from sklearn.metrics import accuracy_score

columnsName = open("headers.txt")
text_reader = columnsName.read()

dataFrame = pd.read_csv('queries.csv',header = None, na_values = ["?", " ?", "? "])

#dataFrame.head()

dataFrame.columns = text_reader.split("\n")

dataFrame.head()

,id,age,job,marital,education,default,balance,housing,loan,contact,day,month,campaign,pdays,previous,poutcome,subscribed
0,TEST1,58,JobCat6,married,tertiary,no,2143,yes,no,unknown,5,may,1,-1,0,unknown,NaN
1,TEST2,30,JobCat3,single,primary,no,23,yes,yes,unknown,5,may,1,-1,0,unknown,NaN
2,TEST3,53,JobCat9,married,secondary,no,-3,no,no,unknown,5,may,1,-1,0,unknown,NaN
3,TEST4,36,JobCat6,single,tertiary,no,424,yes,no,unknown,5,may,1,-1,0,unknown,NaN
4,TEST5,53,JobCat9,married,secondary,no,384,yes,no,unknown,5,may,1,-1,0,unknown,NaN

In [5]:
dataFrame2 = pd.read_csv('trainingset.csv',header = None, na_values = ["?", " ?", "? "])

#dataFrame.head()

dataFrame2.columns = text_reader.split("\n")

#age, balance, day, campaign, pdays, previous, default, housing, loan - continous features
#job, martial, education, month, contact, dataFrame2.poutcome.value_counts()

#default, housing, loan could fit in either


dataFrame2.head()

,id,age,job,marital,education,default,balance,housing,loan,contact,day,month,campaign,pdays,previous,poutcome,subscribed
0,TR1,44,JobCat9,single,secondary,no,29,yes,no,unknown,5,may,1,-1,0,unknown,no
1,TR2,31,JobCat4,married,secondary,no,2,yes,yes,unknown,5,may,1,-1,0,unknown,no
2,TR3,42,JobCat4,divorced,tertiary,yes,2,yes,no,unknown,5,may,1,-1,0,unknown,no
3,TR4,58,JobCat2,married,primary,no,121,yes,no,unknown,5,may,1,-1,0,unknown,no
4,TR5,43,JobCat9,single,secondary,no,593,yes,no,unknown,5,may,1,-1,0,unknown,no

In [19]:

for key in dataFrame.columns:
    print(dataFrame[key].describe())
    print("\n")
 
#dataFrame.loc[dataFrame['balance'] == -]

count         2700
unique        2700
top       TEST2245
freq             1
Name: id, dtype: object


count    2700.000000
mean       39.984444
std        11.516172
min        16.000000
25%        31.000000
50%        37.000000
75%        48.000000
max        89.000000
Name: age, dtype: float64


count        2700
unique         12
top       JobCat6
freq          578
Name: job, dtype: object


count        2700
unique          3
top       married
freq         1608
Name: marital, dtype: object


count          2700
unique            4
top       secondary
freq           1395
Name: education, dtype: object


count     2700
unique       2
top         no
freq      2655
Name: default, dtype: object


count     2700.000000
mean      1396.982963
std       2879.057761
min      -1701.000000
25%         64.000000
50%        442.000000
75%       1444.500000
max      32948.000000
Name: balance , dtype: float64


count     2700
unique       2
top        yes
freq      1461
Name: housing, dtype: object


count     2700
unique       2
top         no
freq      2300
Name: loan, dtype: object


count         2700
unique           3
top       cellular
freq          1737
Name: contact, dtype: object


count    2700.000000
mean       15.784444
std         8.277705
min         1.000000
25%         8.000000
50%        16.000000
75%        21.000000
max        31.000000
Name: day, dtype: float64


count     2700
unique      12
top        may
freq       829
Name: month, dtype: object


count    2700.000000
mean        2.800000
std         3.226649
min         1.000000
25%         1.000000
50%         2.000000
75%         3.000000
max        43.000000
Name: campaign, dtype: float64


count    2700.000000
mean       37.655185
std        98.784454
min        -1.000000
25%        -1.000000
50%        -1.000000
75%        -1.000000
max       808.000000
Name: pdays, dtype: float64


count    2700.000000
mean        0.530000
std         1.828976
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max        29.000000
Name: previous, dtype: float64


count        2700
unique          4
top       unknown
freq         2245
Name: poutcome, dtype: object


count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: subscribed, dtype: float64

In [67]:
le = preprocessing.LabelEncoder()#
DictCollection = ["id"]
for key in dataFrame2.columns:
    if key not in DictCollection:
        ProcessedData[key] = dataFrame2[key]
        
dicthead = dataFrame2.head()
dictFrameTarget = dataFrame2['subscribed'].to_dict()
dictFrameFeatures = dataFrame2[['age',
                               'job',
                               'marital',
                               'education',
                               'default',
                               'balance ',
                               'housing',
                               'loan',
                               'contact',
                               'day',
                               'month',
                               'pdays',
                               'previous',
                               'poutcome']].to_dict()
for r in dictFrameTarget:
    if (dictFrameTarget[r] == "yes"):
        dictFrameTarget[r] = 1
    elif(dictFrameTarget[r] == "no"):
        dictFrameTarget[r] = 0
    
ProcessedData = {}

le = preprocessing.LabelEncoder()
DictCollection = ["id","subscribed"]
for key in dataFrame2.columns:
    if key not in DictCollection:
        ProcessedData[key] = le.fit_transform(dataFrame2[key])
        
        
df = pd.DataFrame(ProcessedData) 
#df.head()

train,test,train_labels,test_labels = train_test_split(df,
                                                       dictFrameTarget,
                                                       test_size = 0.33,
                                                       random_state=42)

gnb = GaussianNB()
model = gnb.fit(train, train_labels)

preds = gnb.predict(test)
#print(preds)

print(accuracy_score(test_labels, preds))

0.8030926549445068

In [57]:

"""for key in dictFrameFeatures:
        train,test,train_labels,test_labels = train_test_split(dictFrameFeatures[key],
                                                               dictFrameTarget,
                                                               test_size = 0.33,
                                                               random_state=42)
        gnb = GaussianNB()
        model = gnb.fit(train, train_labels)

        preds = gnb.predict(test)
        print(preds)


trainAge, testAge, trainJob, testJob, trainMarital, testMarital, trainEducation, testEducation, trainDefault, testDefault, trainHousing, testHousing, trainLoan, testLoan, train, test, train_labels, test_labels = train_test_split(dictFrameFeatures['age'],
                                                          dictFrameFeatures['job'],
                                                          dictFrameFeatures['marital'],
                                                          dictFrameFeatures['education'],
                                                          dictFrameFeatures['default'],
                                                          #dictFrameFeatures['balance'],
                                                          dictFrameFeatures['housing'],
                                                          dictFrameFeatures['loan'],
                                                          dictFrameFeatures['contact'],
                                                          dictFrameFeatures['day'],
                                                          dictFrameFeatures['month'],
                                                          dictFrameFeatures['pdays'],
                                                          dictFrameFeatures['previous'],
                                                          dictFrameFeatures['poutcome'],
                                                          dictFrameTarget,
                                                          test_size=0.33,
                                                          random_state=42)

gnb = GaussianNB()
model = gnb.fit(train, train_labels)

preds = gnb.predict(test)"""

"for key in dictFrameFeatures:\n        train,test,train_labels,test_labels = train_test_split(dictFrameFeatures[key],\n                                                               dictFrameTarget,\n                                                               test_size = 0.33,\n                                                               random_state=42)\n        gnb = GaussianNB()\n        model = gnb.fit(train, train_labels)\n\n        preds = gnb.predict(test)\n        print(preds)\n\n\ntrainAge, testAge, trainJob, testJob, trainMarital, testMarital, trainEducation, testEducation, trainDefault, testDefault, trainHousing, testHousing, trainLoan, testLoan, train, test, train_labels, test_labels = train_test_split(dictFrameFeatures['age'],\n                                                          dictFrameFeatures['job'],\n                                                          dictFrameFeatures['marital'],\n                                                          dictFrameFeatures['education'],\n                                                          dictFrameFeatures['default'],\n                                                          #dictFrameFeatures['balance'],\n                                                          dictFrameFeatures['housing'],\n                                                          dictFrameFeatures['loan'],\n                                                          dictFrameFeatures['contact'],\n                                                          dictFrameFeatures['day'],\n                                                          dictFrameFeatures['month'],\n                                                          dictFrameFeatures['pdays'],\n                                                          dictFrameFeatures['previous'],\n                                                          dictFrameFeatures['poutcome'],\n                                                          dictFrameTarget,\n                                                          test_size=0.33,\n                                                          random_state=42)\n\ngnb = GaussianNB()\nmodel = gnb.fit(train, train_labels)\n\npreds = gnb.predict(test)"

In [66]:
dataFrame2["balance "].head()

0     29
1      2
2      2
3    121
4    593
Name: balance , dtype: int64